*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
:root{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    box-sizing: border-box;
}
.container{
    background-color: black;
    height: 100vh;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.navbar{
    background-color: rgba(44, 44, 44, 0.555);
    position: relative;
    padding: 0.5em 0;
}
.navbar-link{
    padding: 1.5em;
    text-decoration: none;
    color: white;
}
.light{
    position: absolute;
    top: 0;
    trans
}